body{
    background-image: linear-gradient(to left,#F27EB4,#BF6FA3,#8F92BF,#84C9D9,#84C9D9);
    overflow: scroll;
    overflow-x: hidden;
}
p,ul,h1,h3{
    font-family: 'Source Code Pro', monospace;
}


h1{
    color: #3F0080;
}

h2{
    color: #3F0080;
}

h3{
    color: #3F0080;
}

h4{
    color: #3F0080;
}

ul h1{
    color: #3F0080;
}

hr{
    border: 1px solid #3F0080;
    width: 1900%;

} 