body {
    background-color: #E3BEFF;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}