body {
    max-width: 1280px;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(to left,#F27EB4,#BF6FA3,#8F92BF,#84C9D9,#84C9D9);
    overflow: scroll;
    overflow-x: hidden;
  
  }
  hr{
    border: 1px solid #3F0080;
    width: 1900%;
}

h1{
    color: #3F0080;
    font-family: 'Source Code Pro', monospace;
}
 p,h2,li{
  font-family: 'Source Code Pro', monospace;

 }
